<div class="container">
    <div class="col-md-6">
    <p *ngIf='diary.length > 2'>Your Meetings are too Many</p>
    <h4>My Diary</h4>
    <hr>

    <ul> 
        <li *ngFor='let diar of diary'>
            <p appHighlight style="display:block">{{ diar.diary }}</p>
            <p>{{ diar.diary }} on {{ diar.date }}</p>
            
        </li>
    
    </ul>
    </div>
    <div class="col-md-6">
       
       
            <app-diary-form (addDiary)="addNewDiary($event)"></app-diary-form>
       </div>
      
 
</div>